body {
  margin: 0;
  background-color: lightblue;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;       
}

.container {
  display: flex;
  flex-direction: column;   
  justify-content: space-between; 
  align-items: center;
  height: 90vh;
  text-align: center;
}

.image-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clickable-image {
  width: 150px;
  height: 250px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}

.clickable-image:hover {
  border-color: blue;
}

/* When clicked */
.enlarged {
  transform: scale(2);
  border-color: red;
}
